@font-face {
    font-family: "Joyride-Extended";
    src: url("../fonts/Joyride-Extended.otf");
}
@font-face {
    font-family: "Joyride-ExtendedOutline";
    src: url("../fonts/Joyride-ExtendedOutline.otf");
}

$joyride: "Joyride-Extended"; //for titles

$mainBgColor: black;
$secondColor: #00c2c5;